<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <%- include('description', {name: developer.name, description: developer.about}) %>

      <main>
        <h4>Developer Games</h4>
        <ul class="fs-5">
          <% for (let prop in developer_games) { %>
            <li>
              <a href= '<%= developer_games[prop].url %>'>
                <%- developer_games[prop].title %>
              </a>
            </li>
            <% } %>
        </ul>
      </main>

      <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
      </footer>
    </div>
  </body>
</html>
