<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <%- include('description', {name: title, description: gameinstance.game.description, deleteUrl: gameinstance.formUrl + '/delete', updateUrl: gameinstance.formUrl + '/update'}) %>

      <main>
        <h4>ID: <%= gameinstance._id %> </h4>
        <p>
          <b>Platform</b>: <%= gameinstance.platform.console %>
        </p>
        <p>
          <b>Imprint</b>: <%= gameinstance.imprint %>
        </p>
        <p>
          <b>Status</b>: <%= gameinstance.status %>
        </p>
        <p>
          <b>Due Back</b>: <%= gameinstance.due_back_formatted %>
        </p>
      </main>

      <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
      </footer>
    </div>
  </body>
</html>