<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <main class="container">
      <div class="row">
        <div class="col-md-4 p-3 py-md-5">
          <%- include('category_list') %>
        </div>
        <div class="col-md-8 p-3 py-md-5">
          <h4>All Video Games</h4>
          <ul class="fs-5">
            <% for (let prop in games_list) { %>
            <li>
              <a href="<%= games_list[prop].url %>">
                <%- games_list[prop].title %>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </main>

    <footer class="pt-5 text-muted border-top">
      Created by the Bootstrap team &middot; &copy; 2021
    </footer>
  </body>
</html>
