<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <div class="col-lg-8 mx-auto p-3 py-md-5">
      <header>
        <h1><%= title %></h1>
      </header>

      <main>
        <% if (genre_games.length) { %>
        <h4>
          Delete the following games or update and remove the Genre: <%=
          genre.name %> before attempting to delete genre
        </h4>
        <ul class="fs-5">
          <% for (let prop in genre_games) { %>
          <li>
            <a href="<%= genre_games[prop].url %>">
              <%- genre_games[prop].title %>
            </a>
          </li>
          <% } %>
        </ul>
        <% } else { %>
        <h4>Do you really want to delete this Genre?</h4>
        <form method="POST">
          <input
            type="hidden"
            name="genreid"
            id=""
            value="<%- genre._id %>"
            required="true"
          />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </main>

      <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
      </footer>
    </div>
  </body>
</html>
