<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <%- include('description', {name: genre.name, description: genre.description, deleteUrl: genre.formUrl + '/delete', updateUrl: genre.formUrl + '/update'}) %>

      <main>
        <h4><%- genre.name %> Games</h4>
        <ul class="fs-5">
          <% for (let prop in genre_games) { %>
            <li>
              <a href= '<%= genre_games[prop].url %>'>
                <%- genre_games[prop].title %>
              </a>
            </li>
            <% } %>
        </ul>
      </main>

      <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
      </footer>
    </div>
  </body>
</html>
