<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <%- include('nav') %>

    <%- include('description', {name: platform.console, description: platform.description, deleteUrl: platform.formUrl + '/delete', updateUrl: platform.formUrl + '/update'}) %>

      <main>
        <h4><%= platform.console %> Games</h4>
        <ul class="fs-5">
          <% for (let prop in platform_games) { %>
            <li>
              <a href= '<%= platform_games[prop].url %>'>
                <%- platform_games[prop].game.title %>
              </a>
              <ul>
                <li>Platform: <%- platform_games[prop].platform.console %></li>
                <li>Status: <%- platform_games[prop].status %></li>
              </ul>
            </li>
            <% } %>
        </ul>
      </main>

      <footer class="pt-5 my-5 text-muted border-top">
        Created by the Bootstrap team &middot; &copy; 2021
      </footer>
    </div>
  </body>
</html>